<style>
  h1 {
    font-size: 24px;
    text-align: center;
    color: #6b0080;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
  }
  
  a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #620080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  a:hover {
    background-color: #6200806e;
  }
  
  div {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
</style>

<h1>Option Pricing Calculator</h1>
<hr>

<div>
  <a href="Two steps">two steps option pricing calculator</a>
</div>

<div>
  <a href="n steps">n steps option pricing calculator</a>
</div>

<div>
  <a href="Black Scholes">black scholes option pricing calculator</a>
</div>

<hr>